@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Inconsolata:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Quicksand:wght@300&display=swap");

body {
  background-color: #c1c2c5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Inconsolata", monospace;
}

.container {
  align-self: center;
  font-family: "Inconsolata", monospace;
  font-weight: 900;
}

.container .app-container {
  color: #868686;
  max-width: 60vw;
  max-height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: stretch; */
  padding: auto;
  margin: auto;
  margin-top: 4rem;
}

.right-side {
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  background-color: #fefdfc;
  padding: 0.7rem;
  padding-bottom: 0;
  /* text-align: start; */
}

.right-side header {
  margin: 1rem;
}

.right-side header form {
  display: inline-flex;
}

.right-side header form input {
  background-color: transparent;
  border: none;
}
form:hover {
  transform: scale(110%);
  outline: 2px double #cecece;
  border-radius: 10px;
}

input:focus-visible {
  outline: none;
}

.right-side header form button {
  border: none;
  background-color: transparent;
}

.right-side header form button span {
  font-size: 20px;
}

.right-side main {
  margin: auto;
  padding: auto;
  color: #414141;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 16vw;
  height: 45vh;
}
main img {
  width: 60%;
  display: flex;
  align-self: center;
}
.right-side main .current-temperature {
  width: 23;
  font-size: 50px;
  font-weight: 900;
}

.right-side main .current-day {
  font-size: 19px;
  border-bottom: 0.5px solid rgb(153, 153, 153);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.right-side main .time {
  font-size: 15px;
  color: rgb(153, 153, 153);
  margin-bottom: 10px;
}
footer {
  padding-top: 1rem;
  margin: 0;
}
.right-side footer .current-city {
  text-align: center;
  margin-top: 1rem;
  margin: auto;
  margin-bottom: 0.6rem;
  /*   width: 18vw; */
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: #f4f1de;
  border: 1px solid #f4f1de;
  background: #7076a9;
}

.left-side {
  width: 50vw;
  flex-grow: 4;
  border-radius: 0 10px 10px 0;
  background-color: #eaebee;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.container-days {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
}
.container-days ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.left-side li {
  background-color: #fffefc;
}
li .sun-img {
  width: 40%;
  padding: 0.2rem;
}
.container-days ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.day-box {
  color: #555555;
  flex-grow: 5;
  border-radius: 10px;
  width: 8vw;
  height: 15vh;
  margin: 0.8vw;
  font-size: 17px;
}

.container-highlights {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-highlights ul {
  padding-left: 0;

  align-items: center;
}
.img-uv-index {
  width: 35%;
}
.left-side .container-highlights .highlight {
  font-size: 1rem;
  width: 15vw;
  height: 16vh;
  margin: 0.2rem;
  text-align: center;
  border-radius: 2rem;
  padding-top: 0.5rem;
}

@media screen and (min-width: 400px) {
  .app-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 560px) {
  .app-container {
    flex-direction: row;
  }
}
